.header
  %h1.header__left
    = link_to "Caddies", root_path, class: 'home'
  %ul.header__right
    %li.header__name
      -# = current_user.name
      aya
    %li.header__button
      = link_to "ログアウト"