%body
  .el_humburger
    / ハンバーガーボタン
    .el_humburger_wrapper
      %span.el_humburger_bar.top
      %span.el_humburger_bar.middle
      %span.el_humburger_bar.bottom
  %header.navi
    / ナビゲーション
    .navi_inner
      -# .navi_item
      -#   %a{:href => "new_group_path"} MESSAGE
      .navi_item
        =link_to user_path(current_user.id), class: "navi_item" do
          MYPAGE
      .navi_item
        =link_to reports_path, class: "navi_item" do
          WORKS-SCHEDULE
      .navi_item
        = link_to groups_path, class: "navi_item" do
          MESSAGE
      .navi_item
        =link_to "#", class: "navi_item" do
          FLOW
      .navi_item
        =link_to "#", class: "navi_item" do
          FAQ
      .navi_item
        =link_to "#", class: "navi_item" do
          CONTACT
  .mainView
    / ページコンテンツ
  / CDNでjQuery読み込む
  %script{:crossorigin => "anonymous", :integrity => "sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", :src => "https://code.jquery.com/jquery-2.2.4.min.js"}
