.report-tab
  .report-tab__box
    = if user_signed_in?
      .report-tab__box--text
        = link_to '登録', new_report_path, class: "report-tab__box--text"
      .report-tab__box--logo
        %i.far.fa-calendar-alt.fa-2x