response = Unirest.get "https://community-open-weather-map.p.rapidapi.com/weather?callback=test&id=2172797&units=%2522metric%2522+or+%2522imperial%2522&mode=xml%252C+html&q=London%252Cuk",
  headers:{
    "X-RapidAPI-Host" => "community-open-weather-map.p.rapidapi.com",
    "X-RapidAPI-Key" => "76f151d3f5mshd4ed1d6a986972dp11c2d2jsn7b328fcfaca6"
  }