= render "top/header"

.main-mypage
  .center-mypage
    %ul.center-mypage--box
      %li.center-mypage--box__text
        = @user.name
        のページです。
      %li.center-mypage--box__text
        あなたの今月のバッグ数は
        = @bags
        個です。
      %li.center-mypage--box__text
        あなたの今月の出勤日数は
        = @days
        日です。


